pandas          
numpy             
opencv-python       
pytesseract        
matplotlib           
seaborn             
transformers 
torch
streamlit      
pdf2image          
Pillow              
regex         
plotly




